/*Seleciona as configuraçoes de todo o texto */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Quicksand", sans-serif;
}

html{
    font-size: 65%
}

.container{ /*conteudo da pagian toda*/
    width:100%;
    height: 100vh;
    background-color:#c9a2a0; /*cor do fundo*/
    color:black; /*cor da letra*/
    display:flex;
    justify-content:center;
    align-items:center;
}

.calendario{
    width: 60rem;
    height: 58rem;
    background-color: rgb(219, 213, 206);
    box-shadow:0.5rem 3rem rgba(0,0,0,0,4);
}

.mês{
    width: 100%;
    height: 10rem;
    background-color: #c78480 ;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgb(0,0,0,0.5); /*Sombrear as letras*/
}

.mês i{ /*setinha p passar o mês*/
    font-size: 2.5rem;
    cursor:pointer;
}

.mês h1{
    font-size:4rem;
    font-weight:400;
    text-transform: 0.2rem;
    margin-bottom: 1rem;
}
.mês p{
    font-size:1.6rem;
}

.diasDaSemana{
    width:100%;
    height:5rem;
    padding:0 0.4rem;
    display:flex;
    align-items: center;
}

.diasDaSemana div{
    font-size: 1.5rem;
    font-weight: 400;
    font-weight: bold;
    letter-spacing: 0.1rem;
    width:calc(59.2rem/7);
    display:flex;
    justify-content: center;
    align-items: center;
}

.dias{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.dias div{
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(55.2rem/7); /*subtrai a margem - o preenchimento, por isso fica 55*/
    height: 6rem; /*espaco entre os meses*/
    display:flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s; /*tempo que o dia vai ficar selecionado com o cursor*/
}

.dias div:hover:not(.hoje){
    background-color:  rgb(219, 213, 206);
    border: 0.2rem solid #777;
    cursor: pointer;
}

.dia-mes-anterior, .dia-proximo-mes{
    opacity: 0.5;
}

.hoje{
    background-color: #daa5a1;
}